
#!/usr/bin/env sh

set -x #echo ons

ADDRESSES=({% for s in obj.signerDumpData %}
  "{{ s.address }}"{% endfor %}
)

PUB_KEYS=({% for s in obj.signerDumpData %}
  "{{ s.pub_key }}"{% endfor %}
)

# cd matic contracts
  cd {{ obj.config.codeDirectory }}/contracts

for i in {0..{{ obj.totalNodes - 1 }}}
do

  # address
  ADDRESS=${ADDRESSES[$i]};

  # public key  
  PUB_KEY=0x${PUB_KEYS[$i]:4};

  # stake
  STAKE={{ obj.config.defaultStake }}

  # fee
  FEE={{ obj.config.defaultFee }}

  # root contracts are deployed on base chain
  npm run truffle exec scripts/stake.js -- --network development $ADDRESS $PUB_KEY $STAKE $FEE

done


